@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css */
:root {
  --dialog-width: 90% !important;
  --dialog-max-width: 600px !important;
  --dialog-min-height: 100px !important;
  --dialog-height: auto !important;
  --dialog-max-height: 80vh !important;
  --dialog-border-radius: 1px !important;
}

.page-wrapper {
  @apply flex w-full h-full p-8 mt-16 mb-16 overflow-x-hidden;
}

.horizontal-divider {
  min-height: 2px;
  @apply self-stretch flex-shrink-0 h-px bg-BrandGrayShade4;
}

.cta-text {
  font-family: "Bungee" !important;
}

.brand-button {
  @apply p-3 text-lg text-center text-white rounded-lg cta-text bg-BrandBlueComp hover:bg-BrandInfo;
  &:disabled {
    @apply text-black bg-BrandGrayShade4 hover:bg-BrandGrayShade4;
  }
}

.status {
  @apply inline-block px-3 py-1 text-sm bg-white rounded-full shadow-md text-BrandGray;
}

.brand-button-disabled {
  @apply p-3 text-lg text-center text-black rounded-lg cta-text bg-BrandGrayShade4;
}

.brand-info-button {
  @apply p-3 text-base text-center text-white rounded-lg cta-text bg-BrandInfo hover:bg-BrandBlue;
}

.brand-button-purple {
  @apply p-3 text-base text-center text-white rounded-lg cta-text bg-BrandPurple hover:bg-BrandBlueComp;
}

.brand-dropdown {
  @apply p-2 rounded-md;
}

.form-title {
  @apply mb-3 text-lg text-BrandGrayShade4;
}

.form-hint {
  @apply mb-4 text-sm leading-tight text-BrandGrayShade3;
}

.brand-input {
  @apply p-4 text-white border rounded-lg placeholder:text-BrandGrayShade2 bg-BrandBlack border-BrandGrayShade3 hover:border-BrandBlueComp focus:border-BrandBlueComp focus:ring-1 focus:ring-BrandBlueComp/30 focus-visible:outline-none;
}

.brand-input-profile {
  @apply p-4 text-white border rounded-lg placeholder:text-BrandGrayShade2 bg-BrandBlack/50 border-BrandGrayShade3 hover:border-BrandBlue focus:border-BrandBlue focus:ring-1 focus:ring-BrandBlue/30 focus-visible:outline-none;
}

.bg-frontend-update {
  @apply text-white bg-black;
}

.brand-card {
  @apply p-4 rounded;
}

.bg-footballgod-card {
  @apply bg-FootballGodBackground text-FootballGodFont brand-card;
}

.bg-openfpl-card {
  @apply bg-OpenFPLBackground text-OpenFPLFont brand-card;
}

.bg-transferkings-card {
  @apply bg-TransferKingsBackground text-TransferKingsFont brand-card;
}

.bg-openwsl-card {
  @apply bg-OpenWSLBackground text-OpenWSLFont brand-card;
}

.bg-jeffbets-card {
  @apply bg-JeffBetsBackground text-JeffBetsFont brand-card;
}

.svg-background {
  @apply absolute inset-0 z-0 w-full h-full;
}

.text-wrap {
  word-break: break-all;
  max-width: 100%;
  overflow-wrap: break-word;
}

.grid-cols-1.sm\:grid-cols-2.md\:grid-cols-3.lg\:grid-cols-4 {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media (min-width: 640px) {
  .grid-cols-1.sm\:grid-cols-2.md\:grid-cols-3.lg\:grid-cols-4 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 768px) {
  .grid-cols-1.sm\:grid-cols-2.md\:grid-cols-3.lg\:grid-cols-4 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .grid-cols-1.sm\:grid-cols-2.md\:grid-cols-3.lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.hover\:shadow-2xl:hover {
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.transition-shadow {
  transition: box-shadow 0.3s ease;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.horizontal-divider {
  min-height: 2px;
  @apply self-stretch flex-shrink-0 h-px my-4 bg-BrandGrayShade3;
}

.main-title {
  @apply px-4 text-4xl cta-text;
}

.section-title {
  @apply text-3xl cta-text text-BrandSuccess;
}

.sub-header {
  @apply text-2xl tracking-wide cta-text text-BrandInfo;
}

.small-header {
  @apply text-lg text-white cta-text;
}

.section-header {
  @apply tracking-wide text-white cta-text;
}

.page-intro {
  @apply text-xl;
}

.brand-title {
  @apply text-base xxs:text-base mini:text-base md:text-lg 2xl:text-xl;
}

.brand-sub-title {
  @apply text-base text-BrandGrayShade4;
}

.already-claimed-membership-badge {
  @apply items-center px-4 py-2 text-sm text-center text-black rounded bg-BrandSuccess cta-text;
}

.auto-claimed-membership-badge {
  @apply items-center px-4 py-2 text-sm text-center text-white rounded bg-BrandBlue cta-text;
}

.small-brand-button {
  @apply px-4 py-2 text-sm text-center text-white rounded cta-text bg-BrandBlue hover:bg-BrandInfo;
}

.nns-button {
  @apply px-4 py-2 text-center text-white rounded text-xxs cta-text bg-FootballGodBackground hover:bg-BrandInfo;
}

.profile-wrapper-monthly {
  @apply bg-MembershipYellow;
}

.profile-wrapper-seasonal {
  @apply bg-MembershipRed;
}

.profile-wrapper-lifetime {
  @apply bg-MembershipBlue;
}

.profile-wrapper-founding {
  @apply bg-BrandGray;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
