@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-fgbg text-BrandGrayShade5;
  font-family: "Poppins", sans-serif;
}

.page-wrapper {
  @apply p-6 md:p-8;
}

/* global.css */
:root {
  --dialog-width: 90% !important;
  --dialog-max-width: 600px !important;
  --dialog-min-height: 100px !important;
  --dialog-height: auto !important;
  --dialog-max-height: 80vh !important;
  --dialog-border-radius: 1px !important;
}

.cta-text {
  font-family: "Bungee" !important;
}

.brand-button {
  @apply bg-BrandBlue hover:bg-BrandInfo text-white font-semibold py-3 px-8 rounded cta-text;
}

.bg-frontend-update {
  @apply bg-black text-white;
}

.jbbg {
  @apply bg-jbbg;
}

.fgbg {
  @apply bg-fgbg text-white;
}

.ofplbg {
  @apply bg-ofplbg;
}

.owslbg {
  @apply bg-owslbg text-white;
}

.tkbg {
  @apply bg-tkbg text-white;
}

.page-wrapper {
  @apply w-full mt-16;
}

.neon-hover:hover {
  @apply text-BrandBlue;
  filter: drop-shadow(0 0 10px rgba(25, 121, 242, 0.7));
  transition: filter 0.3s ease;
}
.neon-hover:hover {
  filter: drop-shadow(0 0 20px rgba(25, 121, 242, 1));
}

footer {
  margin-top: auto; /* Ensures the footer sticks to the bottom */
}
