@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css */
:root {
  --dialog-width: 90% !important;
  --dialog-max-width: 600px !important;
  --dialog-min-height: 100px !important;
  --dialog-height: auto !important;
  --dialog-max-height: 80vh !important;
  --dialog-border-radius: 1px !important;
}

.cta-text {
  font-family: "Bungee" !important;
}

.brand-button {
  @apply bg-BrandBlue hover:bg-BrandInfo text-white font-semibold py-3 px-8 rounded cta-text;
}

.bg-frontend-update {
  @apply bg-black text-white;
}
